<% include ./parts/header %>
	<main>
		<section>
			<div class="section-wrapper" id="wallPost"></div>
		</section>
		<section class="section-form" id="newPostSection"></section>
		
	</main>
<script src="/static/lib/scripts/socket.io.js"></script>
<script src="/static/lib/scripts/jquery-2.2.2.min.js"></script>
<script>
		<% if (user) { %>
				window.user = {
					id: "<%= user._id %>",
					name: "<%= user.github.name %>"||"<%= user.local.username %>",
					avatar: "<%= user.github.avatar %>"||"<%= user.local.avatar %>",
					configWallVisualization: [10],
					configPostVisualization: [3],
					myFilter: false,
					postForm:'',
					commentForm: '',
					kuy: function (){
							console.log(this);
					}
				};
				window.user.postForm = '<div class="form-holder post">'+
				'<form id="postForm" action>' +
				'<label>Share your post</label>'+
				'<input id="postText" type="text" name="text" placeholder="Type it" data-user="'+ user.id +'">'+
				'<button type="submit" class="success button">Fuck yeah!</button></form></div>';

				window.user.commentForm='<div class="form-holder post">'+
				'<form id="commForm" action>' +
				'<label>Comment:</label>'+
				'<input id="postText" type="text" name="text" placeholder="Type it">'+
				'<input class="post-form-user" type="hidden" name="authorId" value="'+ user.id +'">'+
				'<input class="post-form-user" type="hidden" name="authorAvatar" value="'+ user.avatar +'">'+
				'<input class="post-form-user post" type="hidden" name="post">'+
				'<input class="post-form-user" type="hidden" name="authorName" value="'+ user.name +'">'+
				'<button type="submit" class="success button">Comment</button>'+
				'</form></div>'
						// window.user.visibleInfo = window.visibleInfo;
					 // '<input class="post-form-user" type="hidden" name="postId" value="'+item._id+'">'
				$('#newPostSection').html(window.user.postForm);
		<% } %>
</script>
<script src="/static/scripts/all.js"></script>
</body>
</html>

